<h1>Sign in</h1>

<%= form_tag '/sign_in' do %>
  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <span class="waves-effect waves-light btn"><%= submit_tag "Sign in" %></span>
<% end %>
